################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/BookLib/v14/.suo
/BookLibDAL.UnitTest/obj/Release
/BookLibDAL.UnitTest/bin/Release
/packages
/SimpleTest/obj/Release
/SimpleTest/bin/Release
/BookLibDAL/obj/Release
/BookLibDAL/bin/Release
/BookLibDAL.UnitTest/obj
/BookLibDAL.UnitTest/bin
/BookLibDAL/obj/Debug/*.pdb
/BookLibDAL/bin/Debug/*.dll
/BookLibDAL/bin/Debug/zh-Hans/*.dll
/SimpleTest/bin/Debug
/BookLibDAL/bin/Debug
/BookLibDAL/obj/Debug
/SimpleTest/obj/Debug
Accessibility.pdb
mscorlib.pdb
EntityFramework.pdb
EntityFramework.SqlServer.pdb
EnvDTE.ni.pdb
EnvDTE80.ni.pdb
Microsoft.Build.Framework.pdb
Microsoft.Build.pdb
Microsoft.Build.Utilities.Core.pdb
Microsoft.IronPythonTools.Resolver.pdb
Microsoft.MSXML.ni.pdb
Microsoft.PythonTools.Analysis.pdb
Microsoft.PythonTools.IronPython.Interpreter.pdb
Microsoft.PythonTools.pdb
Microsoft.PythonTools.TestAdapter.pdb
Microsoft.PythonTools.Uwp.pdb
Microsoft.PythonTools.VSInterpreters.pdb
Microsoft.VisualStudio.CoreUtility.pdb
Microsoft.VisualStudio.Debugger.Engine.pdb
Microsoft.VisualStudio.Debugger.InteropA.ni.pdb
Microsoft.VisualStudio.Diagnostics.Measurement.pdb
Microsoft.VisualStudio.Diagnostics.ServiceModelSink.pdb
Microsoft.VisualStudio.Editor.pdb
Microsoft.VisualStudio.Language.Intellisense.pdb
Microsoft.VisualStudio.Language.NavigateTo.Interfaces.pdb
Microsoft.VisualStudio.OLE.Interop.ni.pdb
Microsoft.VisualStudio.QualityTools.Common.pdb
Microsoft.VisualStudio.QualityTools.UnitTestFramework.pdb
Microsoft.VisualStudio.Settings.14.0.pdb
Microsoft.VisualStudio.Shell.14.0.pdb
Microsoft.VisualStudio.Shell.Immutable.10.0.pdb
Microsoft.VisualStudio.Shell.Interop.8.0.ni.pdb
Microsoft.VisualStudio.Shell.Interop.9.0.ni.pdb
Microsoft.VisualStudio.Shell.Interop.ni.pdb
Microsoft.VisualStudio.TestPlatform.Common.pdb
Microsoft.VisualStudio.TestPlatform.Core.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.GenericTestAdapter.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.MSAppContainerAdapter.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.MSPhoneAdapter.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.OrderedTestAdapter.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.TfsLogger.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.TimelineLogger.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.TmiAdapter.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.TrxLogger.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.VSTestIntegration.pdb
Microsoft.VisualStudio.TestPlatform.ObjectModel.pdb
Microsoft.VisualStudio.TestPlatform.TestExecutor.Core.pdb
Microsoft.VisualStudio.TestPlatform.UnitTestFramework.pdb
Microsoft.VisualStudio.TestPlatform.Utilities.pdb
Microsoft.VisualStudio.TestTools.CppUnitTestFramework.ComInterfaces.pdb
Microsoft.VisualStudio.TestTools.CppUnitTestFramework.CppPhoneUnitTestExtension.pdb
Microsoft.VisualStudio.TestTools.CppUnitTestFramework.CppUnitTestExtension.pdb
Microsoft.VisualStudio.TestWindow.Interfaces.pdb
Microsoft.VisualStudio.Text.Data.pdb
Microsoft.VisualStudio.Text.Logic.pdb
Microsoft.VisualStudio.Text.UI.pdb
Microsoft.VisualStudio.Text.UI.Wpf.pdb
Microsoft.VisualStudio.TextManager.Interop.8.0.ni.pdb
Microsoft.VisualStudio.TextManager.Interop.ni.pdb
Microsoft.VisualStudio.Web.UnitTest.TestAdapter.pdb
Microsoft.Windows.Design.Host.pdb
PresentationFramework.pdb
PowerShellTools.TestAdapter.pdb
PresentationCore.pdb
WindowsBase.pdb
SMDiagnostics.pdb
System.ComponentModel.Composition.pdb
System.ComponentModel.DataAnnotations.pdb
System.Configuration.pdb
System.Core.pdb
System.Data.OracleClient.pdb
System.Data.pdb
System.Drawing.pdb
System.EnterpriseServices.pdb
System.EnterpriseServices.Wrapper.pdb
System.IdentityModel.pdb
System.Management.Automation.pdb
System.Numerics.pdb
System.pdb
System.Runtime.Serialization.pdb
System.ServiceModel.Internals.pdb
System.ServiceModel.pdb
System.Transactions.pdb
System.Windows.Forms.pdb
System.Xaml.pdb
System.Xml.Linq.pdb
System.Xml.pdb
TestResults
vstest.executionengine.x86.pdb
/BookLibDataAccessLayer/*.user
