################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/BookLib/v14/.suo
/BookLibDAL.UnitTest/obj/Release
/BookLibDAL.UnitTest/bin/Release
/packages
/SimpleTest/obj/Release
/SimpleTest/bin/Release
/BookLibDAL/obj/Release
/BookLibDAL/bin/Release
/BookLibDAL.UnitTest/obj
/BookLibDAL.UnitTest/bin
/BookLibDAL/obj/Debug/*.pdb
/BookLibDAL/bin/Debug/*.dll
/BookLibDAL/bin/Debug/zh-Hans/*.dll
/SimpleTest/bin/Debug
/BookLibDAL/bin/Debug
/BookLibDAL/obj/Debug
/SimpleTest/obj/Debug
Accessibility.pdb
mscorlib.pdb
EntityFramework.pdb
EntityFramework.SqlServer.pdb
EnvDTE.ni.pdb
EnvDTE80.ni.pdb
Microsoft.Build.Framework.pdb
Microsoft.Build.pdb
Microsoft.Build.Utilities.Core.pdb
Microsoft.IronPythonTools.Resolver.pdb
Microsoft.MSXML.ni.pdb
Microsoft.PythonTools.Analysis.pdb
Microsoft.PythonTools.IronPython.Interpreter.pdb
Microsoft.PythonTools.pdb
Microsoft.PythonTools.TestAdapter.pdb
Microsoft.PythonTools.Uwp.pdb
Microsoft.PythonTools.VSInterpreters.pdb
Microsoft.VisualStudio.CoreUtility.pdb
Microsoft.VisualStudio.Debugger.Engine.pdb
Microsoft.VisualStudio.Debugger.InteropA.ni.pdb
Microsoft.VisualStudio.Diagnostics.Measurement.pdb
Microsoft.VisualStudio.Diagnostics.ServiceModelSink.pdb
Microsoft.VisualStudio.Editor.pdb
Microsoft.VisualStudio.Language.Intellisense.pdb
Microsoft.VisualStudio.Language.NavigateTo.Interfaces.pdb
Microsoft.VisualStudio.OLE.Interop.ni.pdb
Microsoft.VisualStudio.QualityTools.Common.pdb
Microsoft.VisualStudio.QualityTools.UnitTestFramework.pdb
Microsoft.VisualStudio.Settings.14.0.pdb
Microsoft.VisualStudio.Shell.14.0.pdb
Microsoft.VisualStudio.Shell.Immutable.10.0.pdb
Microsoft.VisualStudio.Shell.Interop.8.0.ni.pdb
Microsoft.VisualStudio.Shell.Interop.9.0.ni.pdb
Microsoft.VisualStudio.Shell.Interop.ni.pdb
Microsoft.VisualStudio.TestPlatform.Common.pdb
Microsoft.VisualStudio.TestPlatform.Core.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.GenericTestAdapter.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.MSAppContainerAdapter.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.MSPhoneAdapter.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.OrderedTestAdapter.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.TfsLogger.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.TimelineLogger.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.TmiAdapter.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.TrxLogger.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.VSTestIntegration.pdb
Microsoft.VisualStudio.TestPlatform.ObjectModel.pdb
Microsoft.VisualStudio.TestPlatform.TestExecutor.Core.pdb
Microsoft.VisualStudio.TestPlatform.UnitTestFramework.pdb
Microsoft.VisualStudio.TestPlatform.Utilities.pdb
Microsoft.VisualStudio.TestTools.CppUnitTestFramework.ComInterfaces.pdb
Microsoft.VisualStudio.TestTools.CppUnitTestFramework.CppPhoneUnitTestExtension.pdb
Microsoft.VisualStudio.TestTools.CppUnitTestFramework.CppUnitTestExtension.pdb
Microsoft.VisualStudio.TestWindow.Interfaces.pdb
Microsoft.VisualStudio.Text.Data.pdb
Microsoft.VisualStudio.Text.Logic.pdb
Microsoft.VisualStudio.Text.UI.pdb
Microsoft.VisualStudio.Text.UI.Wpf.pdb
Microsoft.VisualStudio.TextManager.Interop.8.0.ni.pdb
Microsoft.VisualStudio.TextManager.Interop.ni.pdb
Microsoft.VisualStudio.Web.UnitTest.TestAdapter.pdb
Microsoft.Windows.Design.Host.pdb
PresentationFramework.pdb
PowerShellTools.TestAdapter.pdb
PresentationCore.pdb
WindowsBase.pdb
SMDiagnostics.pdb
System.ComponentModel.Composition.pdb
System.ComponentModel.DataAnnotations.pdb
System.Configuration.pdb
System.Core.pdb
System.Data.OracleClient.pdb
System.Data.pdb
System.Drawing.pdb
System.EnterpriseServices.pdb
System.EnterpriseServices.Wrapper.pdb
System.IdentityModel.pdb
System.Management.Automation.pdb
System.Numerics.pdb
System.pdb
System.Runtime.Serialization.pdb
System.ServiceModel.Internals.pdb
System.ServiceModel.pdb
System.Transactions.pdb
System.Windows.Forms.pdb
System.Xaml.pdb
System.Xml.Linq.pdb
System.Xml.pdb
TestResults
vstest.executionengine.x86.pdb
/BookLibDataAccessLayer/*.user
/BookLibBusiness/obj/Debug/*.cache
/BookLibCommon/obj/Debug/*.cache
/BookLibDataAccessLayer.UnitTest/obj/Debug/*.cache
/BookLibDataAccessLayer/obj/Debug/*.cache
/BookLibDataModel/obj/Debug/*.cache
/BookLibDelegates/obj/Debug/*.cache
/BookLibInterface/obj/Debug/*.cache
/BookLibResource/obj/Debug/*.Cache
/BookLibResource/obj/Debug/*.cache
/BookLibSimpleTest/obj/Debug/*.cache
/BookLibBusiness/bin/Debug/BookLib.Business.dll
/BookLibBusiness/bin/Debug/BookLib.Business.pdb
/BookLibBusiness/bin/Debug/BookLib.Common.dll
/BookLibBusiness/bin/Debug/BookLib.Common.pdb
/BookLibBusiness/bin/Debug/BookLib.DataAccessLayer.dll
/BookLibBusiness/bin/Debug/BookLib.DataAccessLayer.pdb
/BookLibBusiness/bin/Debug/BookLib.DataModel.dll
/BookLibBusiness/bin/Debug/BookLib.DataModel.pdb
/BookLibBusiness/bin/Debug/BookLib.Delegates.dll
/BookLibBusiness/bin/Debug/BookLib.Delegates.pdb
/BookLibBusiness/bin/Debug/BookLib.Interface.dll
/BookLibBusiness/bin/Debug/BookLib.Interface.pdb
/BookLibBusiness/bin/Debug/BookLib.Resource.dll
/BookLibBusiness/bin/Debug/BookLib.Resource.pdb
/BookLibBusiness/bin/Debug/EntityFramework.dll
/BookLibBusiness/bin/Debug/EntityFramework.xml
/BookLibBusiness/bin/Debug/zh-CHS/BookLib.Resource.resources.dll
/BookLibBusiness/bin/Debug/zh-Hans/EntityFramework.resources.dll
/BookLibBusiness/obj/Debug/BookLib.Business.csproj.FileListAbsolute.txt
/BookLibBusiness/obj/Debug/BookLib.Business.dll
/BookLibBusiness/obj/Debug/BookLib.Business.pdb
/BookLibBusiness/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BookLibBusiness/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BookLibBusiness/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BookLibCommon/bin/Debug/BookLib.Common.dll
/BookLibCommon/bin/Debug/BookLib.Common.pdb
/BookLibCommon/bin/Debug/BookLib.Resource.dll
/BookLibCommon/bin/Debug/BookLib.Resource.pdb
/BookLibCommon/bin/Debug/zh-CHS/BookLib.Resource.resources.dll
/BookLibCommon/obj/Debug/BookLib.Common.csproj.FileListAbsolute.txt
/BookLibCommon/obj/Debug/BookLib.Common.dll
/BookLibCommon/obj/Debug/BookLib.Common.pdb
/BookLibCommon/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BookLibCommon/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BookLibCommon/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BookLibDataAccessLayer.UnitTest/bin/Debug/BookLib.Common.dll
/BookLibDataAccessLayer.UnitTest/bin/Debug/BookLib.Common.pdb
/BookLibDataAccessLayer.UnitTest/bin/Debug/BookLib.DataAccessLayer.dll
/BookLibDataAccessLayer.UnitTest/bin/Debug/BookLib.DataAccessLayer.pdb
/BookLibDataAccessLayer.UnitTest/bin/Debug/BookLib.DataAccessLayer.UnitTest.dll
/BookLibDataAccessLayer.UnitTest/bin/Debug/BookLib.DataAccessLayer.UnitTest.dll.config
/BookLibDataAccessLayer.UnitTest/bin/Debug/BookLib.DataAccessLayer.UnitTest.pdb
/BookLibDataAccessLayer.UnitTest/bin/Debug/BookLib.DataModel.dll
/BookLibDataAccessLayer.UnitTest/bin/Debug/BookLib.DataModel.pdb
/BookLibDataAccessLayer.UnitTest/bin/Debug/BookLib.Delegates.dll
/BookLibDataAccessLayer.UnitTest/bin/Debug/BookLib.Delegates.pdb
/BookLibDataAccessLayer.UnitTest/bin/Debug/BookLib.Interface.dll
/BookLibDataAccessLayer.UnitTest/bin/Debug/BookLib.Interface.pdb
/BookLibDataAccessLayer.UnitTest/bin/Debug/BookLib.Resource.dll
/BookLibDataAccessLayer.UnitTest/bin/Debug/BookLib.Resource.pdb
/BookLibDataAccessLayer.UnitTest/bin/Debug/EntityFramework.dll
/BookLibDataAccessLayer.UnitTest/bin/Debug/EntityFramework.SqlServer.dll
/BookLibDataAccessLayer.UnitTest/bin/Debug/EntityFramework.SqlServer.xml
/BookLibDataAccessLayer.UnitTest/bin/Debug/EntityFramework.xml
/BookLibDataAccessLayer.UnitTest/bin/Debug/zh-CHS/BookLib.Resource.resources.dll
/BookLibDataAccessLayer.UnitTest/bin/Debug/zh-Hans/EntityFramework.resources.dll
/BookLibDataAccessLayer.UnitTest/bin/Debug/zh-Hans/EntityFramework.SqlServer.resources.dll
/BookLibDataAccessLayer.UnitTest/obj/Debug/BookLib.DataAccessLayer.UnitTest.csproj.FileListAbsolute.txt
/BookLibDataAccessLayer.UnitTest/obj/Debug/BookLib.DataAccessLayer.UnitTest.dll
/BookLibDataAccessLayer.UnitTest/obj/Debug/BookLib.DataAccessLayer.UnitTest.pdb
/BookLibDataAccessLayer.UnitTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BookLibDataAccessLayer.UnitTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BookLibDataAccessLayer.UnitTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BookLibDataAccessLayer/bin/Debug/BookLib.Common.dll
/BookLibDataAccessLayer/bin/Debug/BookLib.Common.pdb
/BookLibDataAccessLayer/bin/Debug/BookLib.DataAccessLayer.dll
/BookLibDataAccessLayer/bin/Debug/BookLib.DataAccessLayer.dll.config
/BookLibDataAccessLayer/bin/Debug/BookLib.DataAccessLayer.pdb
/BookLibDataAccessLayer/bin/Debug/BookLib.DataModel.dll
/BookLibDataAccessLayer/bin/Debug/BookLib.DataModel.pdb
/BookLibDataAccessLayer/bin/Debug/BookLib.Resource.dll
/BookLibDataAccessLayer/bin/Debug/BookLib.Resource.pdb
/BookLibDataAccessLayer/bin/Debug/EntityFramework.dll
/BookLibDataAccessLayer/bin/Debug/EntityFramework.SqlServer.dll
/BookLibDataAccessLayer/bin/Debug/EntityFramework.SqlServer.xml
/BookLibDataAccessLayer/bin/Debug/EntityFramework.xml
/BookLibDataAccessLayer/bin/Debug/zh-CHS/BookLib.Resource.resources.dll
/BookLibDataAccessLayer/bin/Debug/zh-Hans/EntityFramework.resources.dll
/BookLibDataAccessLayer/bin/Debug/zh-Hans/EntityFramework.SqlServer.resources.dll
/BookLibDataAccessLayer/obj/Debug/BookLib.DataAccessLayer.csproj.FileListAbsolute.txt
/BookLibDataAccessLayer/obj/Debug/BookLib.DataAccessLayer.dll
/BookLibDataAccessLayer/obj/Debug/BookLib.DataAccessLayer.pdb
/BookLibDataAccessLayer/obj/Debug/edmxResourcesToEmbed/BookLibDB.csdl
/BookLibDataAccessLayer/obj/Debug/edmxResourcesToEmbed/BookLibDB.msl
/BookLibDataAccessLayer/obj/Debug/edmxResourcesToEmbed/BookLibDB.ssdl
/BookLibDataAccessLayer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BookLibDataAccessLayer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BookLibDataAccessLayer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BookLibDataModel/bin/Debug/BookLib.Common.dll
/BookLibDataModel/bin/Debug/BookLib.Common.pdb
/BookLibDataModel/bin/Debug/BookLib.DataModel.dll
/BookLibDataModel/bin/Debug/BookLib.DataModel.pdb
/BookLibDataModel/bin/Debug/BookLib.Resource.dll
/BookLibDataModel/bin/Debug/BookLib.Resource.pdb
/BookLibDataModel/bin/Debug/zh-CHS/BookLib.Resource.resources.dll
/BookLibDataModel/obj/Debug/BookLib.DataModel.csproj.FileListAbsolute.txt
/BookLibDataModel/obj/Debug/BookLib.DataModel.dll
/BookLibDataModel/obj/Debug/BookLib.DataModel.pdb
/BookLibDataModel/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BookLibDataModel/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BookLibDataModel/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BookLibDelegates/bin/Debug/BookLib.DataModel.dll
/BookLibDelegates/bin/Debug/BookLib.DataModel.pdb
/BookLibDelegates/bin/Debug/BookLib.Delegates.dll
/BookLibDelegates/bin/Debug/BookLib.Delegates.pdb
/BookLibDelegates/bin/Debug/BookLib.Interface.dll
/BookLibDelegates/bin/Debug/BookLib.Interface.pdb
/BookLibDelegates/obj/Debug/BookLib.Delegates.csproj.FileListAbsolute.txt
/BookLibDelegates/obj/Debug/BookLib.Delegates.dll
/BookLibDelegates/obj/Debug/BookLib.Delegates.pdb
/BookLibDelegates/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BookLibDelegates/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BookLibDelegates/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BookLibInterface/bin/Debug/BookLib.DataModel.dll
/BookLibInterface/bin/Debug/BookLib.DataModel.pdb
/BookLibInterface/bin/Debug/BookLib.Interface.dll
/BookLibInterface/bin/Debug/BookLib.Interface.pdb
/BookLibInterface/obj/Debug/BookLib.Interface.csproj.FileListAbsolute.txt
/BookLibInterface/obj/Debug/BookLib.Interface.dll
/BookLibInterface/obj/Debug/BookLib.Interface.pdb
/BookLibInterface/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BookLibInterface/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BookLibInterface/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BookLibResource/bin/Debug/BookLib.Resource.dll
/BookLibResource/bin/Debug/BookLib.Resource.pdb
/BookLibResource/bin/Debug/zh-CHS/BookLib.Resource.resources.dll
/BookLibResource/obj/Debug/BookLib.Resource.BookLibResource.resources
/BookLibResource/obj/Debug/BookLib.Resource.BookLibResource.zh-CHS.resources
/BookLibResource/obj/Debug/BookLib.Resource.csproj.FileListAbsolute.txt
/BookLibResource/obj/Debug/BookLib.Resource.dll
/BookLibResource/obj/Debug/BookLib.Resource.pdb
/BookLibResource/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BookLibResource/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BookLibResource/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BookLibResource/obj/Debug/TempPE/BookLibResource.Designer.cs.dll
/BookLibResource/obj/Debug/zh-CHS/BookLib.Resource.resources.dll
/BookLibSimpleTest/bin/Debug/BookLib.Common.dll
/BookLibSimpleTest/bin/Debug/BookLib.Common.pdb
/BookLibSimpleTest/bin/Debug/BookLib.DataAccessLayer.dll
/BookLibSimpleTest/bin/Debug/BookLib.DataAccessLayer.pdb
/BookLibSimpleTest/bin/Debug/BookLib.DataModel.dll
/BookLibSimpleTest/bin/Debug/BookLib.DataModel.pdb
/BookLibSimpleTest/bin/Debug/BookLib.Resource.dll
/BookLibSimpleTest/bin/Debug/BookLib.Resource.pdb
/BookLibSimpleTest/bin/Debug/EntityFramework.dll
/BookLibSimpleTest/bin/Debug/EntityFramework.SqlServer.dll
/BookLibSimpleTest/bin/Debug/EntityFramework.SqlServer.xml
/BookLibSimpleTest/bin/Debug/EntityFramework.xml
/BookLibSimpleTest/bin/Debug/SimpleTest.exe
/BookLibSimpleTest/bin/Debug/SimpleTest.exe.config
/BookLibSimpleTest/bin/Debug/SimpleTest.pdb
/BookLibSimpleTest/bin/Debug/SimpleTest.vshost.exe
/BookLibSimpleTest/bin/Debug/SimpleTest.vshost.exe.config
/BookLibSimpleTest/bin/Debug/SimpleTest.vshost.exe.manifest
/BookLibSimpleTest/bin/Debug/zh-CHS/BookLib.Resource.resources.dll
/BookLibSimpleTest/bin/Debug/zh-Hans/EntityFramework.resources.dll
/BookLibSimpleTest/bin/Debug/zh-Hans/EntityFramework.SqlServer.resources.dll
/BookLibSimpleTest/obj/Debug/BookLib.SimpleTest.csproj.FileListAbsolute.txt
/BookLibSimpleTest/obj/Debug/SimpleTest.exe
/BookLibSimpleTest/obj/Debug/SimpleTest.pdb
/BookLibSimpleTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BookLibSimpleTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BookLibSimpleTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
