################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/BookLib/v14/.suo
/BookLibDAL.UnitTest/obj/Release
/BookLibDAL.UnitTest/bin/Release
/packages
/SimpleTest/obj/Release
/SimpleTest/bin/Release
/BookLibDAL/obj/Release
/BookLibDAL/bin/Release
